
 /* Rubik Mono One */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* Alike */
@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');


body {
background-color: #E6E6E6;
margin:0;
cursor:url('quillcursor.png'),auto;

}

p{
    padding: 0;
    margin: 0;
}

#navbar{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    list-style-type: none;
    padding-top: 40px;
    padding-left: 100px;
    display: flex;    
}

#jozsefAttilaNav::before {
text-transform: uppercase;
font-weight: 500;
font-size: 32px;
display: inline; 
content: "József Attila:"

}
    
#jozsefAttilaNav:hover::before{
content: "Attila József:";
}

#aboutBorderlineContainer{
    position: relative;
    padding-top: 10.2px;
    padding-left: 3px;
}

#aboutNav {
    display: inline;
    font-weight: 400;
    font-size: 22px;
    text-transform: lowercase;
    position: relative;
}

#borderlineNav {
font-family: "Rubik Mono One";
font-size: 100px;
color: rgba(182, 182, 182, 0.377);
border-radius: 50px;
z-index: -100;
display: flex;
margin-top: -40px;
margin-left: 20px;
position: absolute;
display: none;
}

#aboutBorderlineContainer:hover #borderlineNav {
    display: flex;
}





.bannerText {
font-family: "Rubik Mono One", monospace;
font-size: 28px;
margin-top: 80px;
margin-right: auto;
margin-left: auto;
text-align: center;
width: 50%;

}

#line{
    display: block;
    margin-left:auto;
    margin-right:auto;
        
}

.shuffleArea {
    position: relative;
    /* border: 2px solid black; */
    overflow: visible; 
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:10%;
    margin-right:10%;
    height:500px;
    white-space: nowrap;  
  }

.poemHU {
font-family: "Alike", serif;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
margin-right: 70px;
margin-left: auto;
margin-bottom: 100px;
margin-top: 20px;
text-align: center;
}

.bold {
    font-family: "Rubik Mono One", monospace; ;
    font-size: 12px;
    }

#stanzaHU1, #stanzaHU2, #stanzaHU3, #stanzaHU4 {
   padding: 10px;
   font-size: 12px;

}

.poemENG {
    font-family: "Alike", serif;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: 70px;
    margin-bottom: 100px;
    margin-top: 20px;
    text-align: center;
    }
    
    #stanzaENG1, #stanzaENG2, #stanzaENG3, #stanzaENG4{
       padding: 10px;
       font-size: 12px;
    }

    .poem:hover .poemENG{
        display: flex;

    }

    .poem:hover {
        display: flex;
    }

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second {
  text-align: center;
  padding:10px;
  font-family: "Alike", serif;
}
.three {
  text-align: center;
  padding:10px;
  font-family: "Alike", serif;
}
h1#banner_text {
  font-family: "Rubik Mono One";
  font-size: 9em; /* Adjust the size as needed */
  color: #888888;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  font-family:"Rubik Mono One";
}
p {
  text-align: center;
  margin: 20px; /* Adjust the value to control the space around the edges */
  font-family: "Alike", serif;
  padding-left: 20px;
  padding-right: 20px;
}
h3 {
font-family: "Roboto", sans-serif;
text-align: center;
}